{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Pacientes</h1>
        <a class="btn my-3"  href="/cadastro/">Cadastrar Novo Paciente</a>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pacientes %}
                    <tr>
                        <td scope="row">{{ p.id }}</td>
                        <td scope="row"><a href="{% url 'paciente' p.id %}">{{ p.nome }}</a></td>
                        <td scope="row">{{ p.telefone }}</td>
                        <td scope="row">{{ p.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>